<div class="card m-auto" style="width: 18rem;">
    <img src="~/Images/box.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Price</li>
        <li class="list-group-item">@Model.Category</li>
    </ul>
    <div class="card-body">
        <a href="http://localhost:5109/Product/All" class="card-link">All Products</a>
    </div>
</div>