@model List<Instructor>
@{
    ViewData["Title"] = "Indexs";
}

<h1>All Instructors</h1> 
<a class="btn btn-primary" href="/Instructor/New" role="button">Create</a>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Address</th>
            <th scope="col">Department</th>
            <th scope="col">Image</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var item in Model) 
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Salary</td>
                    <td>@item.Address</td>
                    <td>@item.Department.Name</td>
                    <td><img src="~/Images/@item.Image" width="70px"/></td>
                    <td><a href="/Instructor/Details/@item.Id">details</a></td>
                    <td><a href="/Instructor/Edit/@item.Id">Edit</a></td>
                </tr>
            }
    </tbody>
</table>

